<link rel="stylesheet"
      type="text/css"
      href="/static/webcodestyle.css"/>

      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="UTF-8">
          <title> ALL </title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
        </head>
      
        <body>
         <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                  <div class="navbar-header">
                  <a class="navbar-brand"  href="https://d26horl2n8pviu.cloudfront.net/pictures/images/000/038/787/for_gallery_v2/CONUS-OCONUS-MAP.png"><img src="https://d26horl2n8pviu.cloudfront.net/pictures/images/000/038/787/for_gallery_v2/CONUS-OCONUS-MAP.png"  alt= "ALL" width="340" height="250" align="left"/></a>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span><BR><BR>
                  </button>
                  </div>
                  
                    </div>
      
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Query <span class="caret"></span>
                          </a>
                          
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/api/v1.0/all">All Locations</a></li>
                            <li><a href="/api/v1.0/regions/CONUS">Region:CONUS</a></li>
                            <li><a href="/api/v1.0/regions/OCONUS">Region:OCONUS</a></li>
                            <li><a href="/api/v1.0/commands/FORSCOM">Command:FORSCOM</a></li>
                            <li><a href="/api/v1.0/commands/ARNG">Command:ARNG</a></li>
                            <li><a href="/api/v1.0/commands/CENTCOM">Command:CENTCOM</a></li>
                            <li><a href="/api/v1.0/commands/TRADOC">Command:TRADOC</a></li>
                            <li><a href="/api/v1.0/commands/Training">Command:Training</a></li>
                            <li><a href="/api/v1.0/commands/USARPAC">Command:USARPAC</a></li>
                            <li><a href="/api/v1.0/commands/USAREUR">Command:USAREUR</a></li>
                            <li><a href="/api/v1.0/commands/SOF">Command:SOCCOM</a></li>
                            <li><a href="/api/v1.0/types/Air">Type:Air</a></li>
                            <li><a href="/api/v1.0/types/Ground">Type:Ground</a></li>
                          </ul>
                          <ul><li><a href="../../../">Home</a></li></ul>
                          <ul><li><a href="https://roblmco.github.io/TeamBAM_ETL/">Report</a></li></ul>
                        </li>
                      </ul>
                    </div>
            </nav>
              </div>
          </div>
            <header>
            <h2> ACME Defense </h2><BR>
            <strong> <h3> ALL Locations </h3></strong>
          </header>
      
          <div class="row">
            <div class="col-md-5">
              Total RVCTs: {{ total }}<BR>
                <BR>
                  <table border="1">
          
                    <thead>
                      <tr>
                      <th style="text-align: center; vertical-align: middle;" colspan="9">Results</th></tr>
                    </thead>
                    
                    <thead>
                      <tr style=\"text-align: right;\">
                        <th></th>
                        <th>Base</th>
                        <th>State</th>
                        <th>Command</th>
                        <th>Region</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Type</th>
                        <th>QTY</th>
                      </tr>
                    </thead>

                    <tbody>
                      
                      
                      {% for line in results  %}
                        <tr> 
                          <td>{{ line.0}}</td>
                          <td>{{ line.1 }}</td>
                          <td>{{ line.2 }}</td>
                          <td>{{ line.3 }}</td>
                          <td>{{ line.4 }}</td>
                          <td>{{ line.5 }}</td>
                          <td>{{ line.6 }}</td>
                          <td>{{ line.7 }}</td>
                          <td>{{ line.8 }}</td>
                        </tr>
                      {% endfor %}
                      
                      
                    </tbody>

                    
                      
                  </table>
            
                </div>    
        </div>     
          </body>
        </div>      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
      </body> 
      </html>