<link rel="stylesheet"
      type="text/css"
      href="/static/webcodestyle.css"/>

      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="UTF-8">
          <title> ACME </title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
        </head>
      
        <body>
         <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                  <div class="navbar-header">
                  <a class="navbar-brand"  href="/api/v1.0"><img src="https://ih0.redbubble.net/image.370315455.1236/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1.jpg"  alt= "ACME" width="340" height="250" align="left"/></a>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span><BR><BR>
                  </button>
                  </div>
                  
                    </div>
      
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                          
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Query <span class="caret"></span>
                            </a>
                            
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="/api/v1.0/all">All Locations</a></li>
                              <li><a href="/api/v1.0/regions/CONUS">Region:CONUS</a></li>
                              <li><a href="/api/v1.0/regions/OCONUS">Region:OCONUS</a></li>
                              <li><a href="/api/v1.0/commands/FORSCOM">Command:FORSCOM</a></li>
                              <li><a href="/api/v1.0/commands/ARNG">Command:ARNG</a></li>
                              <li><a href="/api/v1.0/commands/CENTCOM">Command:CENTCOM</a></li>
                              <li><a href="/api/v1.0/commands/TRADOC">Command:TRADOC</a></li>
                              <li><a href="/api/v1.0/commands/Training">Command:Training</a></li>
                              <li><a href="/api/v1.0/commands/USARPAC">Command:USARPAC</a></li>
                              <li><a href="/api/v1.0/commands/USAREUR">Command:USAREUR</a></li>
                              <li><a href="/api/v1.0/commands/SOF">Command:SOCCOM</a></li>
                              <li><a href="/api/v1.0/types/Air">Type:Air</a></li>
                              <li><a href="/api/v1.0/types/Ground">Type:Ground</a></li>
                            </ul>
                            <ul><li><a href="/api/v1.0">API</a></li></ul>
                            <ul><li><a href="https://roblmco.github.io/TeamBAM_ETL/">Report</a></li></ul>
                          </li>
                        </ul>
                      </div>
                </nav>
              </div>
          </div>

          <header>
          <h2> ACME Defense Company </h2><BR>
          <strong> <h3> RVCT Customer Site Data </h3></strong>
          </header>
      
          <div class="row">
              <div class="col-md-6">
                
                  This site is provided by the ACME Defense Company soley for the purposes of supporting
                  key RVCT products at specific customer locations. The API draws from an aggregated set 
                  of RVCT location data combined with coordinate information from the internet.
                  
                  The following files relate the source files used to process and output the relevant 
                  data files. All queries are selectable from the drop down menu, and a full report of 
                  the project is available via the menu link.
             
              </div>

          </div>
          <strong> <h3> Project Files </h3></strong>
          <div class="row">
              <div class="col-md-4">
                <table border="1">
            
                  <thead>
                   <tr>
                   <th style="text-align: center; vertical-align: middle;" colspan="2">Project Files</th></tr>
                  </thead>
                
                  <thead>
                      <tr style=\"text-align: right;\">
                        <th>Source</th>
                        <th>Data</th>
                      </tr>
                  </thead>

                  <tbody>
                  
                    <tr> 
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/Base_Data.ipynb">Base_Data.ipynb</a></td>
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/ACME_Customer_Sites.csv">ACME_Customer_Sites.csv</a></td>
                    </tr>

                    <tr> 
                      <td></td>
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/Table_data.csv">table_data.csv</a></td>
                    </tr>

                    <tr> 
                      <td></td>
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/Base_data.csv">base_data.csv</a></td>
                    </tr>

                    <tr> 
                      <td></td>
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/State_data.csv">state_data.csv</a></td>
                    </tr>

                    <tr> 
                      <td></td>
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/Command_data.csv">command_data.csv</a></td>
                    </tr>

                    <tr> 
                      <td></td>
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/Region_data.csv">region_data.csv</a></td>
                    </tr>

                    <tr> 
                      <td></td>
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/Type_data.csv">type_data.csv</a></td>
                    </tr>

                    <tr> 
                      <td></td>
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/Quantity_data.csv">quantity_data.csv</a></td>
                    </tr>

                    <tr> 
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/Base_Locations.ipynb">Base_Locations.ipynb</a></td>
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/base_locations.csv">base_locations.csv</a></td>
                    </tr>

                    <tr> 
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/army.sql">army.sql</a></td>
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/army_1.sqlite">army_1.sqlite</a></td>
                    </tr>

                    <tr> 
                      <td><a href="https://github.com/RobLMCO/TeamBAM_ETL/blob/master/army.py">army.py</a></td>
                      <td><a href="https://roblmco.github.io/TeamBAM_ETL/">Report</a></td>
                    </tr>
               
                  </tbody>
                  
                </table>
              </div>
          </div>   
        </body>
           
            
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
     
      </html>