<link rel="stylesheet"
      type="text/css"
      href="/static/webcodestyle.css"/>

      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="UTF-8">
          <title> ACME </title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
        </head>
      
        <body>
         <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                  <div class="navbar-header">
                  <a class="navbar-brand"  href="index.html"><img src="https://ih0.redbubble.net/image.370315455.1236/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1.jpg"  alt= "WeatherPy" width="144" height="84" align="left"/></a>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span><BR><BR>
                  </button>
                  </div>
                  
                    </div>
      
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                          
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Query <span class="caret"></span>
                            </a>
                            
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="/api/v1.0/all">All Locations</a></li>
                              <li><a href="/api/v1.0/regions/CONUS">Region:CONUS</a></li>
                              <li><a href="/api/v1.0/regions/OCONUS">Region:OCONUS</a></li>
                              <li><a href="/api/v1.0/commands/FORSCOM">Command:FORSCOM</a></li>
                              <li><a href="/api/v1.0/commands/ARNG">Command:ARNG</a></li>
                              <li><a href="/api/v1.0/commands/CENTCOM">Command:CENTCOM</a></li>
                              <li><a href="/api/v1.0/commands/TRADOC">Command:TRADOC</a></li>
                              <li><a href="/api/v1.0/commands/Training">Command:Training</a></li>
                              <li><a href="/api/v1.0/commands/USARPAC">Command:USARPAC</a></li>
                              <li><a href="/api/v1.0/commands/USAREUR">Command:USAREUR</a></li>
                              <li><a href="/api/v1.0/commands/SOF">Command:SOCCOM</a></li>
                              <li><a href="/api/v1.0/types/Air">Type:Air</a></li>
                              <li><a href="/api/v1.0/types/Ground">Type:Ground</a></li>
                            </ul>
                            <ul><li><a href="index.html">Home</a></li></ul>
                            <ul><li><a href="/api/v1.0/report">Report</a></li></ul>
                          </li>
                        </ul>
                      </div>
            </nav>
              </div>
          </div>
            <header>
            <h2> ACME Defense Company </h2><BR>
            <strong> <h3> RVCT Customer Site Data </h3></strong>
          </header>
      
          <div class="row">
              <div class="col-md-8">
                
                  Whether financial, political, or social -- data's true power lies in its ability to answer questions definitively. So let's take what you've learned about Python requests, APIs, and JSON traversals to answer a fundamental question: "What's the weather like as we approach the equator?"
      
                  Now, we know what you may be thinking: _"Duh. It gets hotter..."_
                  
                  But, if pressed, how would you **prove** it?
      
                  In this example, you'll be creating a Python script to visualize the weather of 500+ cities across the world of varying distance from the equator.
      
                  Your objective is to build a series of scatter plots to showcase the following relationships:
                  <ul>
                    <li>  </li>
                  </ul>
                  <BR>
                  Your final notebook must:
                  <ul>
                    <li>  </li>
                  </ul>
                  <BR>
                  As final considerations:
                  <ul>
                  <li>  </li>
                  </ul>
                  <BR>
              </div>
              
              
              
                
                  
                  <BR>
                  
                    <h3>Project Files</h3>
                       <!-- ** Create an unordered list -->
              <ul>
                  <li><a href="WeatherPy.ipynb">WeatherPy Code</a></li>
                  <li><a href="cityweather.htm">City Weather HTM</a></li>
                  <li><a href="cityweather.csv">City Weather CSV</a></li>
                  <li><a href="WeatherPy_Analysis.htm">Full Analysis</a></li>
              </ul>
             
          </body>
           
      
          <main>
            
          </main>
        </div>      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
      </body> 
      </html>