<link rel="stylesheet"
      type="text/css"
      href="/static/webcodestyle.css"/>

      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="UTF-8">
          <title> Wind </title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
        </head>
      
        <body>
         <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                  <div class="navbar-header">
                  <a class="navbar-brand"  href="index.html"><img src="https://media.giphy.com/media/IdadT8pNEQ2Szir5Wj/giphy.gif"  alt= "WeatherPy" width="144" height="84" align="left"/></a>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span><BR><BR>
                  </button>
                  </div>
                  
                    </div>
      
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/api/v1.0/all">All Locations</a></li>
                            <li><a href="/api/v1.0/commands/FORSCOM">Command:FORSCOM</a></li>
                            <li><a href="Clouds.html">Clouds</a></li>
                            <li><a href="Wind.html">Wind</a></li>
                          </ul>
                          <li><a href="Comparisons.html">Comparisons</a></li>
                          <li><a href="Data.html">Data</a></li><BR><BR>
                        </li>
                      </ul>
                    </div>
            </nav>
              </div>
          </div>
            <header>
            <h2> ACME Defense Company </h2><BR>
            <strong> <h3> RVCT Customer Site Data </h3></strong>
          </header>
      
          <div class="row">
              <div class="col-md-8">
                
                  Whether financial, political, or social -- data's true power lies in its ability to answer questions definitively. So let's take what you've learned about Python requests, APIs, and JSON traversals to answer a fundamental question: "What's the weather like as we approach the equator?"
      
                  Now, we know what you may be thinking: _"Duh. It gets hotter..."_
                  
                  But, if pressed, how would you **prove** it?
      
                  In this example, you'll be creating a Python script to visualize the weather of 500+ cities across the world of varying distance from the equator.
      
                  Your objective is to build a series of scatter plots to showcase the following relationships:
                  <ul>
                    <li>  </li>
                  </ul>
                  <BR>
                  Your final notebook must:
                  <ul>
                    <li>  </li>
                  </ul>
                  <BR>
                  As final considerations:
                  <ul>
                  <li>  </li>
                  </ul>
                  <BR>
              </div>
              
              
              
                
                  
                  <BR>
                  
                    <h3>Project Files</h3>
                       <!-- ** Create an unordered list -->
              <ul>
                  <li><a href="WeatherPy.ipynb">WeatherPy Code</a></li>
                  <li><a href="cityweather.htm">City Weather HTM</a></li>
                  <li><a href="cityweather.csv">City Weather CSV</a></li>
                  <li><a href="WeatherPy_Analysis.htm">Full Analysis</a></li>
              </ul>
             
          </body>
           
      
          <main>
            
          </main>
        </div>      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
      </body> 
      </html>